html,
body {
  height: 100%;
}
.container {
  height: 100%;
}
.main-row {
  margin-left: 0;
  margin-right: 0;
}
.fill {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
.sidebar {
  height: 100%;
  min-height: 100%;
}
.main-content-area {
  height: 100%;
  min-height: 100%;
}
nav .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
footer .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
