<%- include /layout/header.ejs %>

<div id="instances" ng-controller="allInstancesCtrl" class="row main-row fill" ng-init="init()">
    <h2><%= title %></h2>

    <div class="row">
        <div class="col-xs-2">
            <a class="btn btn-default"
                    data-loading-text="..."
                    href="/instances/new"
                    onmouseover="$(this).toggleClass('btn-primary');"
                    onmouseout="$(this).toggleClass('btn-primary');">
                <i class="fa fa-plus-circle"></i> New
            </a>
        </div>
    </div>

    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Instances</h4>
        </div>
        <table class="table" ng-show="instances != null && instances.length > 0">
            <tr>
                <th class="col-md-1 col-xs-4">
                    id (unique)
                </th>
                <th class="col-md-1 col-xs-4">
                    Name
                </th>
                <th class="col-md-1 col-xs-4">
                    Version
                </th>
                <th class="col-md-1 col-xs-4">
                    Address
                </th>
                <th class="col-md-1 col-xs-4">
                    Status
                </th>
                <th class="col-md-5 col-xs-12">
                    Last log entries
                </th>
                <th class="col-md-1 col-xs-4">

                </th>
            </tr>
            <tr ng-repeat="instance in instances">
                <td class="col-md-1 col-xs-4">
                    {{instance.id}}
                </td>
                <td class="col-md-1 col-xs-4">
                    {{instance.version.name}}
                </td>
                <td class="col-md-1 col-xs-4">
                    {{instance.version.number}}
                </td>
                <td class="col-md-1 col-xs-4">
                    <a href="{{instance.baseUri}}">{{instance.baseUri}}</a>
                </td>
                <td class="col-xs-1 col-xs-4">
                    <div>
                        <p class="text-success" ng-show="instance.setting_up">
                            <i class="fa fa-check"></i>
                            Setting up...
                        </p>
                        <p class="text-info" ng-show="instance.running">
                            <i class="fa fa-hourglass"></i>
                            Running
                        </p>
                        <p class="text-danger" ng-show="!instance.running">
                            <i class="fa fa-times"></i>
                            Not running
                        </p>
                    </div>
                </td>
                <td class="col-md-5 col-xs-12">
                    <section>
                        <div ui-ace="{
                          useWrapMode : true,
                          showGutter: false,
                          theme:'twilight',
                          mode: 'markdown'
                        }" >
                            # Theme and mode

                            *Lorem ipsum* dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                    </section>
                </td>
                <td class="col-md-2 col-xs-4">

                    <div class="btn-group">
                        <button type="button" ng-click="edit_instance(instance)" class="btn btn-default">
                            Edit <span class="fa fa-edit"></span>
                        </button>

                        <button type="button" ng-click="edit_instance(instance)" class="btn btn-default">
                            Install <span class="fa fa-play"></span>
                        </button>

                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="stop_instance(instance)" onclick="return false;"><span class="fa fa-stop"></span> Stop</a></li>
                            <li><a href="#" ng-click="start_instance(instance)" onclick="return false;"><span class="fa fa-play"></span> Start</a></li>
                            <li><a href="#" ng-click="backup(instance)" onclick="return false;"><span class="fa fa-save"></span> Backup</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" ng-click="destroy(instance)" onclick="return false;"><span class="fa fa-bomb"></span> Destroy</a></li>
                            <li><a href="#" ng-click="update(instance)" onclick="return false;"><span class="fa fa-cloud-download"></span>Update</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table" ng-show="instances == null || instances.length == 0">
            <tr>
                <th>No instances loaded.</th>
            </tr>
        </table>
    </div>

</div>

<%- include /layout/footer.ejs %>