<%- include /layout/header.ejs %>

<div id="instances" ng-controller="oneInstanceCtrl" ng-init="init(<%=locals.instance_id%>)" class="row main-row fill" ng-cloak>

    <h1>Editing instance</h1>

    <div class="row">
        <div class="col-xs-4">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group pull-left" role="group" aria-label="First group">
                    <div>
                        <h3 class="text-success" ng-show="is_valid_instance()">
                            <i class="fa fa-check"></i>
                            {{validation_errors}}
                        </h3>
                        <h3 class="text-danger" ng-show="!is_valid_instance()">
                            <i class="fa fa-times" ></i>
                            {{validation_errors}}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group pull-right" role="group" aria-label="First group">
                    <button type="button"
                            class="btn btn-lg btn-secondary"
                            data-loading-text="..."
                            ng-click="save(new_instance)" onclick="return false;"
                            onmouseover="$(this).toggleClass('btn-success');"
                            onmouseout="$(this).toggleClass('btn-success');">
                        <i class="fa fa-save"></i> Save
                    </button>
                    <button type="button"
                            class="btn btn-lg btn-secondary"
                            data-loading-text="..."
                            ng-click="cancel()" onclick="return false;"
                            onmouseover="$(this).toggleClass('btn-danger');"
                            onmouseout="$(this).toggleClass('btn-success');">
                        <i class="fa fa-times"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-xs-6">
            <div ng-jsoneditor="editor_loaded" ng-model="new_instance" options="options_left" style="width: 100%; height: 800px;"></div>
        </div>
        <div class="col-xs-6">
            <div ng-jsoneditor="editor_loaded" ng-model="new_instance" options="options_right" style="width:100%; height: 800px;"></div>
        </div>
    </div>

    <br/>
</div>

<%- include /layout/footer.ejs %>