        <div id="push"></div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <span class="navbar-text">
                    &copy; <a href="http://dendro.fe.up.pt">FEUP InfoLab</a>.
                </span>
            </div>
        </div>

    </div>  <!--close wrap div -->

  </body>
</html>
